@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';


.navbar-laravel {
background: #fff;
box-shadow: 0 2px 4px rgb(0, 0, 0, 0.04);
}

.counters {
       margin-right: 30px;
       font-size: 10px;
       text-align: center;

       strong{
       display: block;
       font-size: 2em;
       }


       .vote,.answer {
           width: 60px;
           height: 60px;
       }

       .status {
             &.unanswered {
             border: none
             }
       &.answered {
            border: 1px solid $color-green;
            color: $color-green;
       }
       &.answered-accepted {
          background: $color-green;
          color: $color-white;
       }
       }
       .view {
            margin-top: 10px;
       }
}

.form-delete {
display: inline;
}

.vote-controls {
     min-width: 60;
     margin-right: 30;
     text-align: center;
     color: $color-green;
 span,a {
  display: block;
}

}
span {
      &.votes-count {
      font-size: 25px;
      }
      &.favorites-count {
      font-size: 12px;
      }
}


a{
  cursor: pointer;
  color: $gray-600;

  &.off, &.off:hover {
      color: $gray-500;
      }
  &.favorite{
    &.favorited, &.favorited:hover{
     color: $warning;
  }
}


}


.vote-accepted{
 color: $green;
}

